body, html {
  font-family: "Roboto", sans-serif;
  height: 100%;
  background-color: #fffffd
}
.create-note{
  margin-top: 15px;
  border: 2px solid #0303036e;
  border-radius: 10px;
  padding: 10px;
  box-shadow: -5px 5px 5px #aaaaaa91;
  background-color: #fffffd
}

.note-field{
  border: none;
  display: block;
  width: 100%;
  background-color: #fffffd
}
textarea{
  padding: .375rem .75rem;
}
.note-field:focus, button:focus{
  outline: none;
  box-shadow:none;
  border:0px solid #ccc;
}
.create-group{
  display: flex;
  flex-direction: column-reverse;
}
#note-title{
  display: none;
  margin-bottom: 20px;
}
#note-content{
  margin-bottom: 10px;
}
.create-note:focus-within #note-title{
  display: block;
}

#notes-container{
  margin-top: 20px;
  min-height: 100%;
  width: 100%;
  position: relative;
}
.note-box{
  border: 2px solid #0f0e0e77;
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
  display: inline-block;
  position: absolute;
  background-color: #fffffd;
}
.note-box:hover, .note-box:focus-within{
  box-shadow: 5px 5px 5px #aaaaaa91;
}

.far, .fas{
  cursor: pointer;
}
.actions{
  margin-top: 10px;
  display: flex;
}
.move{
  margin-left: auto;
}
button{
  background: none;
  border: 0px;
}
#createNoteBtn{
  margin-left: 0.75rem;
}